h1
	{margin-bottom: 20px;}

.sidebar-nav.well
	{padding: 8px 0;}

.message
	{border-radius:0px; border:1px solid #FFF; margin-bottom:15px;}

.message>.head
	{background:#f3f3f3; padding:8px; border-bottom:1px solid #f3f3f3;}

.message>.head img.author
	{float:right; margin-left:8px; margin-bottom:4px;}

.message>.body {
	padding: 8px;background-color:#FFFFFF;
}

.quotetoggle {
	margin: 0 0 15px 0;
}

.message>.controls
	{background:#f3f3f3; padding:8px; border-top:1px solid #f3f3f3;}

footer#main-footer
	{margin-left:0px;background-color:#181619;color:#CCC;}

footer#main-footer p {margin: 0px !important;padding: 0px 10px 10px 10px;}

footer#main-footer a {border-bottom:1px dotted;color:#CCC;}

footer#main-footer a:hover {text-decoration:none;}

.thumbnail
	{background-color:white;}

/* Bugfix for bootstrap on desktop, where the navbar will hide some content otherwise */
.spacer-top
	{padding-top: 60px;}

.no-padding
	{padding:0px;}

.no-top-bottom-margin
	{margin-top:0px; margin-bottom:0px;}

/* Bugfix for browsers with defaultcolor != white */
input, textarea
	{background-color:white;}
